/*Geral*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(247, 236, 236);
}

main {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  color: #444;
}

h1, h2, p {
  text-align: center;
}

h3 {
  margin-right: 20%;
}

/*Header*/

header {
  color: white;
  
}

nav {
  margin-top: -4px;;
}

nav, a {
  text-align: center;
  background-color: rgb(211, 187, 202);
  color: rgb(255, 255, 255); 
  border-radius: 5px;
  padding: 15px;
  padding-top: 17px;
}

a:link {
  text-decoration: none;
}

header a:link, header a:visited {
  padding: 8px 12px;
  background-color: rgb(106, 140, 224); 
}

header a:hover { 
  color: aqua; 
  background-color: rgb(175, 113, 233); 
}

img {
  width: 700px;
}

#banner {
  width: 1560px;
  margin: 0;
}

/*Testes e formulários*/

form {
  width: 300px;
  margin: 0 auto;
}

figcaption {
  color: rgb(129, 129, 129);
  font-style: italic;
  margin-left: 10px;
}

#form-pesquisa label,
#form-pesquisa input,
#form-pesquisa button {
  display: block;
  margin-bottom: 10px;
}

.pergunta p {
  font-weight: bold;
  color:#090909 
}

#teste a {
  display: block;
  margin-bottom: 10px;
  background-color: rgb(175, 113, 233);
  padding: 5px;
}

#resultado {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/*Articles*/

article {
  border: 1px solid rgb(192, 192, 192);
  background-color: #f9f9f9; 
  padding: 20px 20px; /*Espeçamento da caixa/geral*/
  margin-bottom: 20px;   
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  max-width: 700px;  
  margin-left: auto;
  margin-right: auto;
}

/* Cabeçalhos dentro do artigo */
article h2 {
  margin-top: 0px;
  color: #2f2e2e;
}

/* Parágrafos com boa leitura */
article p {
  line-height: 1.5;
  color: #444;
}

article figure img {
  max-width: 100%; 
  height: auto;       
  display: block;     
  border-radius: 6px; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

#destaque {
  line-height: 1.5;
  color: rgb(75, 68, 68);
  margin-top: 10px;
  margin-bottom: 20px;
}

/*Index*/


.container-sobre {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
}

.sobre-projeto p {
  margin-bottom: 1rem; 
  color: rgb(75, 68, 68)
}

/*Footer*/

footer {
  text-align: center;
  background-color: rgb(211, 187, 202);
  color: white;
  padding-top: 1px;
  padding-bottom: 1px; 
}

